:root {
    background-color: #694D31;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-size: 62.5%;
font-family: fantasy;
}

h1 {
    font-size: 84px;
    color: white;
    margin-bottom: 70px;

}

h2 {
    font-size: 60px;
    margin-bottom: 55px;
}

.container {
    width: 900%;
    height: 900%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    margin: 0 auto;
    padding: 30px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;

}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}