:root {
    background-color: black
}
    

* {
    box-sizing: border-box;
    margin: 20px;
    padding: 0px
        
}


body {
    font-family: fantasy;
    background-color: darkgray;
}


h1 {
    font-size: 70px;
    color: white;
    margin: 100px;
    font-family: fantasy;
}


p {
    font-size: 26px;
    line-height: 1.5;
    color: white;
    font-family: fantasy;

}



/* container start here */


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.quiz-box {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: black;
    padding: 16px 80px 80px 80px;
    border: 3px;
    border-radius: 5px;
}

.quiz-box h1 {
    background-color: black;
    font-size: 64px;
    text-align: center;
    color: white;
    padding: 16px 0;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 3px;


}

.quiz-header #progress {
    color: black;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.quiz-header #count-down {
    font-size: 26px;
    font-weight: 700;

}
